<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="/login" enctype="multipart/form-data" method="POST">
        <h1 style="text-align: center; font-weight:bold">LOGIN</h1>
        {{#if userLoginErr}}
            <p class="alert alert-danger">{{userLoginErr}}</p>
        {{/if}}
        <label for="">Email</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email"
          name="email"
          required
        />
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          placeholder="enter password"
          name="password"
          required
        />
        <a
          href="/signup"
          style="text-decoration:none; font-size:small"
          class="form-text text-muted"
        >Create an account</a>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
      </form>
    </div>
  </div>
</div>